
<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%#= javascript_include_tag 'application', controller_name, 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%=image_tag 'cart.png', alt: 'The Pragmatic Bookshelf'%>
      <span class="title"><%=@page_title%></span>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <%if @cart%>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart%>
            <%end%>
          <%end%>
        </div>
        <ul>
          <li><a href="#">Home</li>
          <li><a href="#">Questions</li>
          <li><a href="#">News</li>
          <li><a href="#">Contact</li>
        </ul>
        <%if session[:user_id]%>
          <ul>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete%>
        <%end%>
      </div>
      <div id="main">
          <%= yield %>
      </div>
    </div>
  </body>
</html>


<!--Old file: uncomment ruby code ie. the ones between the <%#...%>-->
<!--
<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%#= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%#= controller.controller_name %>'>
    <%#= yield %>
  </body>
</html>
-->
